h1 {
    animation: aparece 2s ease-out;
}

@keyframes aparece {
    0%{
    opacity: 0;
    }
    100%{
    opacity: 1;
    }
}

.citacao-bio {
    background-color: #D9E5E3;
    border: .5em solid #C2CCCA;
    padding: .8em;
    margin: 1em 2em;
    width: 30ch;
    box-sizing: border-box;
    transition:  transform 1s linear , box-shadow 1s ease-in-out;
    transition-delay: 0s, 0.5s;
    animation: quica 1s infinite;
    position: relative;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}

@keyframes quica {
    from {
        top: 0;
    }
    90%{
        transform: rotate(-2deg);
    }
    95%{
        transform: rotate(2deg);
    }
    to {
        top: 1em;
    }
}

.citacao-bio:hover,
.citacao-bio:focus {
    box-shadow: 0 0 0 99999px rgba(0, 0, 0, .8);
    animation-play-state: paused;
}

.citacao-bio:nth-of-type(odd):hover,
.citacao-bio:nth-of-type(odd):focus {
    transform: scale(1.2) rotate(5deg);
}

.citacao-bio:nth-of-type(even):hover,
.citacao-bio:nth-of-type(even):focus {
    transform: scale(1.2) rotate(-5deg);
}

.citacao-bio:nth-of-type(even) {
    float: left;
    margin-left: 0;
}

blockquote:nth-of-type(odd) {
    float: right;
    margin-right: 0;
}

.container > p::first-letter {
    font-size: 200%;
    font-weight: bold;
    color: #3C1D3D;
    text-shadow: 1px 1px #000;
    margin-right: .2ch;
    line-height: 1;
}

.citacao-bio::before {
    content: '“';
    position: absolute;
    font-size: 10em;
    color: #bbb;
    line-height: .8;
}

.citacao-bio > p {
    position: relative;
}

.habilidades {
    border-collapse: separate;
    border-spacing: .25em;
    margin: 1em 0;
}

.habilidades th,
.habilidades td {
    padding: 1em;
}

.habilidades thead th {
    background-color: rgba(156, 197, 197, 0.8);
    
}

.habilidades th {
    border: 5px solid black;
    background-color: rgba(88, 187, 141, 0.8);
}

.habilidades td {
    background-color: lightseagreen;
    border: 5px solid black;
}

.habilidades [colspan] {
    text-align: center;
    font-style: italic;
}

.habilidades [rowspan] {
    vertical-align: middle;
}