.palavra-home {
    position: absolute;
    font-family: "Shadows Into Light", cursive;
    font-weight: bold;
    color: rgb(2, 27, 25);
}

.eficiencia {
    position: absolute;
    top: 20%;
    left: 75%;
}

.boas-praticas {
    position: absolute;
    top: 17%;
    right: 10%;
}

.codigo-limpo {
    position: absolute;
    top: 65%;
    right: 78%;
}

.css3 {
    position: absolute;
    top: 23%;
    left: 23%;
}

.html5 {
    position: absolute;
    top: 69%;
    left: 69%;
}

.javascript {
    position: absolute;
    top: 20%;
    right: 90%;
}

.acessibilidade {
    position: absolute;
    top: 40%;
    left: 12%
}

.responsivo {
    position: absolute;
    top: 23%;
    right: 30%;
}

.otimizacoes {
    position: absolute;
    top: 32%;
    left: 32%
}

.agilidade {
    position: absolute;
    top: 86%;
    right: 12%;
}

.design {
    position: absolute;
    top: 40%;
    left: 75%;
}

.inicio-post {
    background-color: #FFF;
    position: absolute;
    top: 3em;
    right: 3em;
    height: 3em;
    color: black;
    padding: 1em;
}

.foto-home {
    box-sizing: border-box;
    width: 250px;
    size: 10px;
    padding: 1rem;
    -webkit-border-radius: 10% 50% / 50% 10%;
    -moz-border-radius: 10% 50% / 50% 10%;
    border-radius: 10% 50% / 50% 10%;
    /*border-radius: 50% 0;*/
}

.saudacao p {
    font-size: 1.5em;
    color: #99A;
    line-height: 1;
    padding: 2em;
}

.saudacao-inicio {
    font-size: 3em;
    color: #889;
}

.saudacao-ultima-linha {
    text-align: right;
    display: block;
}

.saudacao strong {
    font-size: 2em;
    color: #000;
}

.saudacao em {
    color: #17378d;
    font-size: 4em;
}

.botao-index {
    font-size: 1.25em;
    background-color: #17378d;
    color: #FFF;
    padding: .5em;
    border: .2em solid black;
    width: 35ch;
    margin: 4em auto;
    display: block;
    text-align: center;
}

.secao-inicio {
    padding: 2em;
}

.secao-inicio h2 {
    font-size: 3em;
    text-shadow: 2px 2px #000;
    text-transform: uppercase;
    margin-bottom: .5em;
}

.trabalhos {
    background-color: rgb(40, 45, 90);
    border-top: .5em solid #000;
    border-bottom: .5em solid #000;
}

.trabalhos h2 {
    color: #FFF;
}

.trabalhos ul {
    overflow: hidden;
    border: .5em solid black;
}

.trabalhos li {
    float: left;
    width: 33.333%;
}

.trabalhos img {
    width: 100%;
    display: block;
}

.blog .inicio-post {
    position: absolute;
    top: 4em;
    height: 8em;
    left: 30%;
    right: 4em;
    background-color: #F2FFFC;
    color: #000;
    padding: 1.5em;
}

.blog {
    background-color: rgb(132, 157, 194);
    color: #FFF;
    border-bottom: .5em solid #197a72;
    position: relative;
}

.blog small {
    position: relative;
    top: -2em;
}

.blog li {
    width: 30%;
}

.blog li a {
    color: rgb(37, 29, 37);
    padding: .5em;
    display: block;
}

.blog .mais-recente {
    background-color: #F2FFFC;
}

.blog .mais-recente a {
    color: rgb(6, 17, 119);
}

footer {
    background-color: #000;
    color: #FFF;
    padding: .3em;
}

footer h2 {
    font-size: 2em;
}

footer a {
    color: rgb(115, 238, 187);
}

main {
    width: 100%;
    padding-bottom: 0;
    float: none;
}