
body {
	font-family: "Crimson Text", "Times New Roman", serif;
	background-color: #F2FFFC;
	font-size: 120%;
	line-height: 1.5;
}

h1,
h2 {
	font-family: "Open Sans Condensed", "Arial", sans-serif;
}

.titulo-principal {
	text-align: center;
	background-color: rgb(66, 109, 189);
	color: #FFF;
	padding: 2rem;
	border-bottom: .5rem solid black;
	font-size: 300%;
	text-transform: uppercase;
}

p {
	text-align: justify;
	margin: 20px 0;
}

blockquote {
	background-color: #D9E5E3;
    border: .5em solid #C2CCCA;
    padding: 1em;
    margin: 1em 2em;
    width: 30ch;
    box-sizing: border-box;
}

.navegacao-site {
	text-align: center;
	background-color: rgb(66, 109, 189);
	color: #F2FFFC;
}

.rodape {
	background-color: #000;
	color: #F2FFFC;
	clear: both;
}

main a {
	color: #5258b1;
}

.navegacao-site a {
	color: inherit;
	font-family: "Open Sans Condensed", sans-serif;
}

.citacao-bio,
.navegacao-site,
.rodape {
	padding: 20px;
}

.container {
	width: 720px;
	margin: auto;
	padding: 30px 0;
}

.navegacao-site h1 {
	font-size: 30px;
	margin-bottom: 25px;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

.subtitulo-texto {
	font-size: 30px;
	clear: both;
}

.icones-sociais li {
	display: inline-block;
}

nav a {
	text-transform: lowercase;
}

.icones-sociais a {
	width: 40px;
	height: 40px;
	display: inherit;
	text-indent: -99999px;
}

.github {
	background-image: url(/home/ypedro/Projetos/Alura/html_css/alurahtmlcss/img/github.png);
}

.twitter {
	background-image: url(/home/ypedro/Projetos/Alura/html_css/alurahtmlcss/img/twitter.png);
}

.linkedin {
	background-image: url(/home/ypedro/Projetos/Alura/html_css/alurahtmlcss/img/in.png);
}

main {
	float: left;
	width: 85%;
	padding-bottom: 80px;
}

.minha-foto,
.navegacao-site {
	float: right;
	box-sizing: border-box;
	border-left: 10px solid black;
	border-bottom: 10px solid black;
}

.minha-foto {
	width: 250px;
	position: absolute;
	top: 0;
	right: 0;
}

.navegacao-site {
	width: 15%;
	position: relative;
	top: 325px;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	box-sizing: border-box;
}