
       body{
       	font-family: "Crimson Text", serif;
        background-color: #F2FFFC; 
      }

    	    
        h1, h2 {
        font-family: "Open Sans Condensed",sans-serif;
        }
       main h1 {
        	background-color: #851944;
        	color: #FFFFFF;
        	
            font-size: 50px;
            text-align: center;
        }
        h2{
            font-size: 40px;
            text-align: center;
        }
        p {
   		 text-align: justify;
		}
